.tableRow {
    position: relative;
    display: grid;
    border-bottom: 1px solid #e9e7f2;
    background-color: #fff;
    transition: background-color 0.2s ease-out;

    &:hover {
        background-color: #fcfcfc;
    }

    &>div:nth-child(1) {
        padding-left: 20px;
    }

    &__stickyFirst {
        *:first-child {
            position: sticky;
            left: 0;
            z-index: 3;
        }
    }

    &__stickyLast {
        *:last-child {
            position: sticky;
            right: 0;
            z-index: 1;
        }
    }
}
